<!doctype html>
<html class="no-js" lang="ko">

<head>
  <!-- 메타셋 -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="스마트한 MT 예약 대행 서비스, 파투고">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


  <!-- 스타일시트 링크 및 폰트 링크 -->
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess
  /notosanskr.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bill.css">
  <link rel="stylesheet" href="css\swiper.min.css">



  <title>Fatogo</title>

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <!-- 맨 위의 헤더 -->
  <header>
    <h1>
      <a href="C:\Users\nucle\Desktop\Dev\1.main_page\index.html" title="Fatogo">Fatogo</a><!-- 1.main_page 폴더의 index.html 파일로 이동함-->
    </h1>
  </header>

  <!-- 목록 -->
  <div class="vertical">
    <div class="hotel_description">
      <div class="hotel_name">
        <h1>광주 노드산스 호텔</h1>
      </div>
      <div class="hotel_checkin">
        <h3>체크인</h3>
        <span id="checkin_time">2018.09.30 PM 3:00</span>
      </div>
      <div class="hotel_checkout">
        <h3>체크아웃</h3>
        <span id="checkout_time">2018.10.01 AM 11:00</span>
      </div>
    </div>
    <div class="room_people">
      <h2>총 인원:</h2>
      <span id="room_people">30명</span>
    </div>
    <div class="price_info">
      <h3>가격 정보</h3>
      <div class="room_price">
        <ul>
          <li class="room_nameinfo" id="room01">
            <h3>대단체실</h3>
            <hr>
            <div class="room_prices" id="room_price01">12만원</div>
          </li>
          <li class="room_nameinfo" id="room02">
            <h3>대단체실</h3>
            <hr>
            <div class="room_prices" id="room_price02">12만원</div>
          </li>
          <li class="room_nameinfo" id="room03">
            <h3>대단체실</h3>
            <hr>
            <div class="room_prices" id="room_price03">12만원</div>
          </li>
          <li class="room_nameinfo" id="room04">
            <h3>소단체실</h3>
            <hr>
            <div class="room_prices" id="room_price04">8만원</div>
          </li>
          <li class="room_nameinfo" id="room05">
            <h3>소단체실</h3>
            <hr>
            <div class="room_prices" id="room_price05">8만원</div>
          </li>
          <li class="room_nameinfo" id="room06">
            <h3>소나무실</h3>
            <hr>
            <div class="room_prices" id="room_price06">6만원</div>
          </li>
          <li class="room_nameinfo" id="room07">
            <h3>소나무실</h3>
            <hr>
            <div class="room_prices" id="room_price07">6만원</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="amenity_reservation">
      <h3>부대시설 예약</h3>

      <div class="amenity" id="amenity_1">
        <div class="amenity_desc">
          <div class="amenity_imoticon">

          </div>
          <h4>바베큐 시설</h4>
          <span>
            <div id="amenity_1_time">4</div>시간 이용
          </span>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><input type="checkbox" name="" id="h16"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h17"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h18"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h19"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h20"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h21"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h22"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h23"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h24"></div>
          </div>
        </div>
      </div>

      <div class="amenity" id="amenity_2">
        <div class="amenity_desc">
          <div class="amenity_imoticon">

          </div>
          <h4>족구 시설</h4>
          <span>
            <div id="amenity_2_time">4</div>시간 이용
          </span>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><input type="checkbox" name="" id="h16"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h17"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h18"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h19"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h20"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h21"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h22"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h23"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h24"></div>
          </div>
        </div>
      </div>
      <div class="amenity" id="amenity_3">
        <div class="amenity_desc">
          <div class="amenity_imoticon">

          </div>
          <h4>캠프파이어</h4>
          <span>
            <div id="amenity_3_time">4</div>시간 이용
          </span>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><input type="checkbox" name="" id="h16"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h17"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h18"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h19"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h20"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h21"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h22"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h23"></div>
            <div class="swiper-slide"><input type="checkbox" name="" id="h24"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="full_price">

    </div>
    <div class="reservation_notice">

    </div>
    <div class="payback_notice">

    </div>
    <form class="" action="index.html" method="post">
      <fieldset>
        <input type="text" name="" value="성함">
        <input type="text" name="" value="전화번호">
        <input type="checkbox" name="" value=""><a href="#">숙소 이용규칙, 취소규정, 개인정보 제 3자 제공약관개인정보수집/이용약관</a> 에 동의합니다.<br>
      </fieldset>
      <fieldset>
        <legend>결제 방식</legend>
      </fieldset>
    </form>
  </div>








  <footer>
    <p>&copy; HTML CheatSheet</p>
    <address>Contact <a href="mailto:me@htmlg.com">me</a></address>
  </footer>


  <script src="js\swiper.min.js"></script>

  <!-- 자바스크립트 -->
  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
  </script>
  <script src="js/plugins.js"></script>
  <script src="js/bill.js"></script>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function() {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>

  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>

</html>
