<!doctype html>
<html class="no-js" lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="스마트한 MT 예약 대행 서비스, 파투고">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">




  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="css\swiper.min.css">




  <title>Fatogo</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/hotel.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <header>
    <h1>
      <a href="C:\Users\nucle\Desktop\Dev\1.main_page\index.html" title="Fatogo">Fatogo test1</a><!-- 1.main_page 폴더의 index.html 파일로 이동함-->
    </h1>
  </header>

  <form class="purchace" action="C:\Users\nucle\Desktop\Dev\3.bill_page\bill.html" method="post">

    <div class="time_length">
      1박
    </div>
    <div class="total_price">
      350,000원
    </div>
    <input type="submit" name="purchace_button" value="결제하기" id="btn_purchace">

  </form>


  <!-- 스와이퍼(슬라이드쇼 확장 코드) 사용함 -->
  <div class="hotel_slideshow">
    <a href="hotel_slideshow.html">
      <div class="swiper-container" id="swiper-container1">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
          <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="375px" width="100%"><!-- 이미지 파일 -->
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="swiper-pagination1"></div>
      </div>
    </a>
    <!-- 숙소 평점 -->
    <div class="hotel_evaluation">
      <a href="hotel_evaluation.html">
        <div class="hotel_star">
          ★★★★☆
        </div>
        <div class="hotel_grade">
          <h3>7.5</h3>
        </div>
        <div class="hotel_review_number">
          <h4>(330)</h4>
        </div>
      </a>
    </div>
  </div>

  <div class="vertical">
    <!-- 숙소 소개란 -->
    <div class="hotel_description_1">
      <div class="hotel_name">
        <h1>김파투고의 김여행 김모텔</h1>
      </div>
      <div class="hotel_realplace">
        <h3>광주광역시 북구 첨단과기로 123</h3>
      </div>
      <div class="hotel_check_time">
        <h4>체크인 PM 3:00 / 체크아웃 AM 11:00</h4>
      </div>
    </div>
    <!-- 숙소 추천란 -->
    <div class="recommend_box">
      <div class="vertical2">
        <div class="recommend_text" id="recommend_text_1">
          <h4>이 숙소를 파투고가 추천합니다!</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima pariatur, quod veritatis quia repellendus. Veniam, debitis dolorum tempora, harum alias sequi magnam nulla omnis, qui impedit modi earum. Nesciunt hic reprehenderit dolore
            earum. Quae nisi adipisci error fuga, debitis deserunt, saepe suscipit quis blanditiis esse inventore corporis eum ab mollitia.</p>
        </div>
        <div class="recommend_text" id="recommend_text_2">
          <h4>필요 시설 완비율 85%</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis adipisci eius nulla labore, asperiores ratione, porro dolores laboriosam quod perferendis, esse dicta veniam cumque magnam dignissimos reprehenderit. Repudiandae nulla,
            doloribus?</p>
        </div>
        <div class="recommend_text" id="recommend_text_3">
          <h4>적정한 가격대</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed exercitationem est quia sequi rerum qui quibusdam magnam fuga quis quo nam odio at consequatur pariatur quos cumque, voluptatibus laboriosam? Praesentium blanditiis hic totam
            eum doloremque nulla rerum corporis maiores voluptas dignissimos, sunt architecto incidunt minima omnis, beatae similique quos esse, ex reiciendis obcaecati dolore ipsum! Eveniet, quas ipsa ut laborum fuga. Fuga neque dignissimos error
            vel possimus adipisci labore nam, alias, nihil atque delectus. Voluptatum.</p>
        </div>
        <h5>파투고의 인공지능 데이터를 사용해 추출한 결과입니다.</h5>
      </div>
    </div>
    <!-- 숙소 정보란 -->
    <div class="hotel_info">
      <h3>숙소 정보</h3>
      <a href="hotel_amenity.html">
        <div class="hotel_amenities">
          <h4>부대 시설 안내</h4>
          <span class="hotel_amenity_icons">
          </span>
        </div>
      </a>
      <!-- 구글 지도 사용. API키 사용됨. -->
      <div class="hotel_google_map">
        <div id="map"></div>
      </div>
      <a href="hotel_travel_info.html">
        <div class="hotel_travel_info">
          <h4>주변 관광 정보</h4>
          <span>+4</span>
        </div>
      </a>
    </div>
    <div class="hotel_room_info">
      <h3>방 지도</h3>
      <p>방을 눌러서 예약, 다시 눌러서 취소하세요</p>
      <div class="hotrel_room_map">
        <!-- 자바스크립트를 이용한 버튼 맵 추가 예정 -->
      </div>
      <div class="hotel_room_selectedroom">
        <h4>선택된 방 : </h4>
        <span>108, 109</span>
      </div>
      <!-- 리액트를 써야 하는 이유 : 매 스와이퍼 사용할때마다 보디 태그 아래에 따로 함수를 계속 넣어야 함. 불편... -->
      <div class="hotel_room-list">
        <ul>
          <li class="room_name" id="room01">
            <h3>대단체실</h3>
            <div class="hotel_slideshow_1">
              <div class="swiper-container" id="swiper-container2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="307.5px" width="100%"><!-- 이미지 파일 -->
                  </div>
                  <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="307.5px" width="100%"><!-- 이미지 파일 -->
                  </div>
                  <div class="swiper-slide"><img src="C:\Users\nucle\Desktop\Dev\img\hotel1\Hotel_intro1.png" alt="김파투고의 김여행 김모텔 프론트사진" height="307.5px" width="100%"><!-- 이미지 파일 -->
                  </div>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination" id="swiper-pagination2"></div>
            </div>
            <div class="room_info">
              <div class="room_size">
                <h4>방크기</h4>
                <div>20명</div>
              </div>
              <div class="room_people">
                <h4>기준/최대인원</h4>
                <div>8/11명</div>
              </div>
              <h3>내부 시설</h3>
              <table class="room_amenity">
                <tbody>
                  <tr>
                    <td>
                      <div class="room_amenity_icon"></div>
                      <h5>가스레인지</h5>
                    </td>
                    <td>
                      <div class="room_amenity_icon"></div>
                      <h5>가스레인지</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="room_amenity_icon"></div>
                      <h5>수도</h5>
                    </td>
                    <td>
                      <div class="room_amenity_icon"></div>
                      <h5>수도</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="room_amenity_icon"></div>
                      <h5>냉장고</h5>
                    </td>
                    <td>
                      <div class="room_amenity_icon"></div>
                      <h5>냉장고</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="room_reservation">
                <h3>예약 현황</h3>
                <div>가능</div>
              </div>
              <div class="room_price">
                <h4>객실가</h4>
                <div>350,000원</div>
              </div>
            </div>
          </li>
          <li id="room02"></li>
          <li id="room03"></li>
        </ul>
      </div>
    </div>
  </div>







  <footer>
    <p>&copy; HTML CheatSheet</p>
    <address>Contact <a href="mailto:me@htmlg.com">me</a></address>
  </footer>

  <!-- 구글 지도 스크립트 -->
  <script>
    function initMap() {
      // The location of Uluru
      var lottheria = {
        lat: 35.221437,
        lng: 126.841934
      };
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 16,
          center: lottheria,
          disableDefaultUI: true
        });
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({
        position: lottheria,
        map: map
      });
    }
  </script>
  <!-- 구글 지도 API 및 CDN -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX3VGTK-qk4Y1vqDhfw8s1cO7BiM_ZOaQ
&callback=initMap"></script>
  <!-- 스와이퍼 슬라이드쇼 확장 프로그램 CDN -->
  <script src="js\swiper.min.js"></script>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
  </script>

  <script src="js/plugins.js"></script>

  <script src="js/main.js"></script>
  <!-- 스와이퍼 슬라이드 쇼 스크립트 -->
  <script>
    var swiper1 = new Swiper('#swiper-container1', {
      spaceBetween: 20,
      pagination: {
        el: '#swiper-pagination1',
        type: 'fraction',
      },
    });
  </script>

  <script>
    var swiper2 = new Swiper('#swiper-container2', {
      spaceBetween: 20,
      pagination: {
        el: '#swiper-pagination2',
        type: 'fraction',
      },
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

  <script>
    window.ga = function() {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>

  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>

</html>
