<!doctype html>
<html class="no-js" lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="스마트한 MT 예약 대행 서비스, 파투고">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">




  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <link rel="stylesheet" href="css\swiper.min.css">




  <title>Fatogo</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/hotel_amenity.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <header>
    <h1>
      <a href="C:\Users\nucle\Desktop\Dev\1.main_page\index.html" title="Fatogo">Fatogo test1</a>
    </h1>
  </header>


  <div class="vertical">
    <h2>부대시설 안내 페이지</h2>
    <ul>
      <li class="amenity" id="amenity1">
        <div class="amenity_icon">gg</div>
        <div class="amenity_text">
          <h3>바베큐 총 5자리 사용가능</h3>
          <p>한 자리당 기준 인원 4명, 총 5000원 가능</p>
        </div>
      </li>
      <li class="amenity" id="amenity2">
        <div class="amenity_icon"></div>
        <div class="amenity_text">
          <h3>캠프파이어</h3>
          <p>한 자리당 기준 인원 4명, 총 5000원 가능</p>
        </div>
      </li>
      <li class="amenity" id="amenity3">
        <div class="amenity_icon"></div>
        <div class="amenity_text">
          <h3>샤워실</h3>
          <p>한 자리당 기준 인원 4명, 총 5000원 가능</p>
        </div>
      </li>
      <li class="amenity" id="amenity4">
        <div class="amenity_icon"></div>
        <div class="amenity_text">
          <h3>대강당</h3>
          <p>한 자리당 기준 인원 4명, 총 5000원 가능</p>
        </div>
      </li>
      <li class="amenity" id="amenity5">
        <div class="amenity_icon"></div>
        <div class="amenity_text">
          <h3>수영장</h3>
          <p>한 자리당 기준 인원 4명, 총 5000원 가능</p>
        </div>
      </li>
    </ul>
  </div>





  <footer>
    <p>&copy; HTML CheatSheet</p>
    <address>Contact <a href="mailto:me@htmlg.com">me</a></address>
  </footer>



  <script src="js\swiper.min.js"></script>
  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
  </script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 10,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
    });
  </script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function() {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
