/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* 기본 html 픽셀 : 16px 100% 1em*/
/* 사용 폰트 */
body {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

p, h1, h2, h3, h4, h5, a, div {
  text-decoration: none;
  font-family: 'Noto Sans KR';
  color: #4a4e52;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

li {
  list-style: none;
}

/* 파투고 로고 헤더 */
header h1 a {
  display: block;
  text-indent: -9999px;
}

header h1 {
  overflow: visible;
  position: absolute;
  top: 29%;
  left: 50%;
  width: 22.4vmin;
  height: 8vmin;
  margin: 0 0 0 -11.2vmin;
  background-image: url("../img/FaToGO.png");
  background-size: 22.4vmin 8vmin;
}

header {
  position: relative;
  height: 26vmin;
  background-color: #fbffff;
}

/* 틀을 위한 vertical */
.vertical {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin: 0 6.1%;
}

.hotel_name h1 {
  font-size: 24px;
  line-height: 1.5;
  color: #2bb0bf;
}

.hotel_checkin {
  margin-top: 38px;
}

.hotel_checkin h3 {
  display: inline;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.hotel_checkin span {
  float: right;
  display: inline;
  font-size: 16px;
  line-height: 1.5;
}

.hotel_checkout {
  margin-top: 10px;
  padding-bottom: 30.5px;
  border-bottom: : solid 1px black;
}

.hotel_checkout h3 {
  display: inline;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.hotel_checkout span {
  float: right;
  display: inline;
  font-size: 16px;
  line-height: 1.5;
}

.room_people {
  margin-top: 20px;
  width: 100%;
  height: 40px;
}

.room_people h2 {
  float: left;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 160px;
}

.room_people span {
  float: right;
  font-size: 24px;
  line-height: 1.5;
}

.price_info {
  margin-top: 44.5px;
}

.price_info h3 {
  font-size: 18px;
  line-height: 1.5;
}

.room_price {
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  margin-top: 20px;
  padding: 40px 29.5px 30px;
}

.room_price ul {
  width: 100%;
}

.room_nameinfo {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.room_nameinfo h3 {
  float: left;
  display: inline;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.room_nameinfo hr {
  display: inline-block;
  width: 112px;
  border-width: 1px;
  margin-left: 15px;
  color: #f2f2f2;
}

.amenity{
   margin-bottom: 60px;
}

.amenity_desc {
  border: solid 1px #dadada;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 30px;
  padding: 13px 0px;
}

.amenity_imoticon{
   display: inline;
   margin-left: 20px;
}

.amenity_desc h4{
   display: inline;
   font-size: 18px;
   line-height: 1.5;
}

.amenity_desc span{
   display: inline;
   float: right;
   margin-right: 20px;
   font-size: 18px;
   font-weight: 500;
   color: #64c0cb;
}

.amenity_desc span div{
   display: inline;
   font-size: 18px;
   font-weight: 500;
   color: #64c0cb;
}

.room_nameinfo .room_prices {
  display: inline;
  font-size: 16px;
  line-height: 1.5;
  float: right;
}

.amenity_reservation h3 {
  margin-top: 40.5px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;
}

.swiper-container {
  min-height: 60px;
  margin-bottom: 60px;
}

.swiper-wrapper {
  min-height: 60px;
}

.swiper-slide {
  min-height: 60px;
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide input[type="checkbox"] {
  position: relative;
  display: inline-block;
  min-height: 50px;
  width: 50px;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.swiper-slide input[type="checkbox"]:after {
  content: '';
  font-family: 'Noto Sans KR';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #65c0cb;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #65c0cb;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.swiper-slide input[type="checkbox"]:checked:after {
  height: 50px;
  width: 50px;
  color: white;
  background-color: #65c0cb;
}

.swiper-slide input[type="checkbox"]:focus {
  outline: none;
}

.swiper-slide input[type="checkbox"]#h16:after {
  content: '16시';
}

.swiper-slide input[type="checkbox"]#h17:after {
  content: '17시';
}

.swiper-slide input[type="checkbox"]#h18:after {
  content: '18시';
}

.swiper-slide input[type="checkbox"]#h19:after {
  content: '19시';
}

.swiper-slide input[type="checkbox"]#h20:after {
  content: '20시';
}

.swiper-slide input[type="checkbox"]#h21:after {
  content: '21시';
}

.swiper-slide input[type="checkbox"]#h22:after {
  content: '22시';
}

.swiper-slide input[type="checkbox"]#h23:after {
  content: '23시';
}

.swiper-slide input[type="checkbox"]#h24:after {
  content: '24시';
}

footer {
  margin-top: 3px;
  overflow: hidden;
  clear: both;
  position: relative;
  padding: 23px 16px 16px 16px;
  background: rgb(245, 245, 245);
  font-size: 10px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.38);
}

html {
  color: #bf3a3a;
  font-size: 100%;
  line-height: 1.4;
}

@media only screen and (min-width : 1024px) {
  .vertical {
    margin: 0 18.3%;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
