/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
a {
  text-decoration: none;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

p, h1, h2, h3, h4, h5, a, div {
  text-decoration: none;
  font-family: 'Noto Sans KR';
  color: #4a4e52;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

header h1 a {
  display: block;
  text-indent: -9999px;
}

header h1 {
  overflow: visible;
  position: absolute;
  top: 19px;
  left: 50%;
  width: 84px;
  height: 30px;
  margin: 0 0 0 -42px;
  background-image: url("../../img/FaToGO.png");
  background-size: 84px 30px;
  background-repeat: no-repeat;
}

header {
  position: relative;
  height: 69px;
  background-color: #fbffff;
}

.purchace {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 10;
  padding: 0;
  border-top: solid 1px #d9d9d9;
}

.time_length {
  position: absolute;
  top: 31px;
  left: 23px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.21;
}

.total_price {
  position: absolute;
  top: 28px;
  left: 55px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
}

#btn_purchace {
  position: absolute;
  top: 17px;
  right: 24px;
  width: 160px;
  height: 48px;
  border-radius: 8px;
  background-color: #2bb0bf;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}

.hotel_slideshow {
  position: relative;
  height: 375px;
  width: 100%;
  z-index: 2;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination{
   z-index: 5;
}

.vertical {
  z-index: 10;
  padding: 0 6.4% 0 6.13%;
}

.hotel_evaluation {
  position: absolute;
  top: 339px;
  left: 6.1%;
  z-index: 1;
}

.hotel_star, .hotel_grade, .hotel_review_number {
  display: inline-block;
}

.hotel_star {
  margin-right: 0px;
  color: #ffffff;
}

.hotel_grade {
  margin-right: 7px;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}

.hotel_review_number h4 {
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.21;
  color: #ffffff;
}

.hotel_name {
  margin-top: 20px;
}

.hotel_name h1 {
  font-size: 24px;
  line-height: 1.5;
}

.hotel_realplace {
  margin-top: 20px;
}

.hotel_realplace h3 {
  font-size: 14px;
  line-height: 1.43;
}

.hotel_check_time {
  margin-top: 5px;
}

.hotel_check_time h4 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
}

.vertical2 {
  z-index: 10;
  padding: 0 7.9%;
}

.recommend_box {
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.recommend_text {
  margin-top: 30px;
}

.recommend_text h4 {
  font-size: 16px;
  line-height: 1.5;
}

.recommend_text p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
}

.vertical2 h5 {
  width: 100%;
  text-align: center;
  font-size: 11px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.8;
  font-weight: normal;
  line-height: 1.5;
}

.hotel_info {
  margin-top: 40.5px;
  border-top: solid 1px #e7e7e7;
  padding-top: 30px;
}

.hotel_info h3 {
  font-size: 18px;
  line-height: 1.5;
}

.hotel_amenities {
  margin-top: 20px;
  padding: 11px 0px 13px 0px;
  border: solid 1px #dadada;
  border-radius: 8px;
  width: 100%;
}

.hotel_amenities h4 {
  display: inline;
  margin-left: 8.2%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.hotel_amenity_icons {
  display: inline;
  float: right;
  margin-right: 20px;
  width: 74px;
  height: 29.5px;
  background-color: black;
}

#map {
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  height: 245px;
}

.hotel_travel_info {
  margin-top: 20px;
  padding: 11px 0px 11px 0px;
  border: solid 1px #dadada;
  border-radius: 8px;
  width: 100%
}

.hotel_travel_info h4 {
  display: inline-block;
  margin-left: 8.2%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.hotel_travel_info span {
  float: right;
  margin-right: 27px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #2bb0bf;
}

.hotel_room_info {
  margin-top: 40.5px;
}

.hotel_room_info h3 {
  font-size: 18px;
  line-height: 1.5;
}

.hotel_room_info p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
}

.hotel_room_map legend {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.floor {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 328px;
  border: solid 1px #dadada;
  border-radius: 8px;
}

.room_box {
  /* 좌표값 및 너비, 길이값*/
  /* 좌표값 및 너비, 길이값*/
  border-radius: 8px;
  position: absolute;
  display: inline-block;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  z-index: 2;
}

.room_box:after {
  content: '';
  font-family: 'Noto Sans KR';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  margin: auto auto;
  padding-top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  border-radius: 4px;
  color: #65c0cb;
  border: 1px solid #65c0cb;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: -1;
}

.room_box:checked:after {
  color: white;
  background-color: #65c0cb;
}

.room_box:focus {
  outline: none;
}

.floor_select {
  width: 50px;
  margin: 5px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  min-height: 36px;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.floor_select:after {
  content: '';
  font-family: 'Noto Sans KR';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  color: #65c0cb;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  height: 40px;
  width: 50px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #65c0cb;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.floor_select:checked:after {
  height: 40px;
  width: 50px;
  color: white;
  background-color: #65c0cb;
}

.floor_select:focus {
  outline: none;
}

.hotel_room_selectedroom {
  border-top: solid 1px #e7e7e7;
  border-bottom: solid 1px #e7e7e7;
  margin-top: 30px;
  padding-top: 20.5px;
  padding-bottom: 42.5px;
  margin-bottom: 39.5px;
}

.hotel_room_selectedroom h4 {
  display: inline;
  text-align: right;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.21;
}

.hotel_room_selectedroom span div {
  display: inline;
  float: right;
  font-size: 24px;
  line-height: 1.21;
  margin-right: 5px;
}

.room_name>h3 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

ul, li {
  list-style: none;
}

.hotel_slideshow_1 > .swiper-container .swiper-wrapper .swiper-slide img {
  border-radius: 8px;
}

.hotel_slideshow_1 .swiper-container {
  position: relative;
  color: #4a4e52;
  font-size: 14px;
}

.room_size, .room_people {
  height: 29px;
}

.room_size {
  margin-top: 60.5px;
}

.room_people {
  margin-top: 13px;
}

.room_people {
  top: 45px;
  padding-bottom: 40.5px;
  border-bottom: solid 1px #e7e7e7;
}

.room_size h4, .room_people h4 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.45;
  margin-left: 8.3%;
}

.room_size div, .room_people div {
  display: inline;
  float: right;
  font-size: 20px;
  line-height: 1.45;
  margin-right: 8.3%;
}

.room_info>h3 {
  margin-top: 20.5px;
  font-size: 18px;
  line-height: 1.5;
}

table.room_amenity {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-bottom: solid 1px #e7e7e7;
}

table.room_amenity td, table.room_amenity th {
  padding-bottom: 23px;
}

table.room_amenity tbody tr td:first-child {
  padding-right: 64px;
}

table.room_amenity tbody td {
  margin-bottom: 23px;
}

table.room_amenity tfoot .links {
  text-align: right;
}

table.room_amenity tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.room_amenity_icon {
  float: left;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: gray;
}

table h5 {
  float: right;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
}

.room_reservation {
  height: 45px;
  margin-top: 40.5px;
}

.room_reservation h3 {
  display: inline-block;
  margin-top: 9px;
  font-size: 18px;
  line-height: 1.5;
}

.room_reservation div {
  display: inline;
  float: right;
  font-size: 30px;
  line-height: 1.5;
  color: #2bb0bf;
}

.room_price {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.room_price h4 {
  display: inline-block;
  margin-left: 120px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.room_price div {
  display: inline;
  float: right;
  font-size: 26px;
  line-height: 1.5;
  color: #2bb0bf;
}

footer {
  overflow: hidden;
  clear: both;
  position: relative;
  padding: 23px 16px 16px 16px;
  background: rgb(245, 245, 245);
  font-size: 10px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.38);
}

html {
  font-size: 1em;
  line-height: 1.4;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
      Print styles.
      Inlined to avoid the additional HTTP request:
      https://www.phpied.com/delay-loading-your-print-css/
      ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
        */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
        * Printing Tables:
        * http://css-discuss.incutio.com/wiki/Printing_Tables
        */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
